<div class="p1hp">
    <p class="pText" style="color:{{userColor}}"> {{OwnerName}}: {{ownerHP}} </p>
</div>

<div class="p2hp">
    <p class="pText" style="color:{{enemyColor}}"> {{EnemyName}}: {{enemyHP}} </p>
</div>

<button class="btn btn-warning helpBtn" data-ng-click="showHelp()"><i class="glyphicon glyphicon-question-sign"></i></button>

<div id="shellMessage" data-ng-show="showChooseShell">{{chooseShell}}</div>

<div id="helpMessage" data-ng-show="showHelpMessage">
    <p>Right Arrow - Move Right</p>
    <p>Left Arrow - Move Left</p>
    <p>Up Arrow - Gun Higher</p>
    <p>Down Arrow - Gun Lower</p>
    <p>Enter - Shoot</p>
</div>



<button class="btn btn-danger exitButton" data-ng-click="goToConfirmation()">Exit</button>

<div class="timerBattle" data-ng-hide="inPractice">
    <p><i class="glyphicon glyphicon-hourglass"></i>{{battleCountDown}}</p>
</div>

<div class="LeftRight" data-ng-show="isUserTurn">
    <button class="btn btn-primary leftButton"
            data-ng-click="moveLeft()"><i class="glyphicon glyphicon-arrow-left iLeft"></i></button>
    <button class="btn btn-primary rightButton"
            data-ng-click="moveRight()"><i class="glyphicon glyphicon-arrow-right iRight"></i></button>
</div>

<div class="UpDown" data-ng-show="isUserTurn">
    <button class="btn btn-primary upButton"
            data-ng-click="moveUp()"><i class="glyphicon glyphicon-arrow-up iLeft"></i></button>
    <button class="btn btn-primary downButton"
            data-ng-click="moveDown()"><i class="glyphicon glyphicon-arrow-down iLeft"></i></button>
</div>

<button class="btn btn-primary fireButton" data-ng-click="shoot()"
        data-ng-show="isUserTurn">Fire <i class="glyphicon glyphicon-screenshot"></i></button>

<canvas id="tank" width="1400" height="650"></canvas>

<div class="weaponBar" data-ng-show="isUserTurn">
    <button id="W1" class="btn btn-primary btn-weapon piersing" data-ng-click="reducePiersing()">
        <img class="weaponIcon" src="assets/img/piersing.png"><div> unlimited </div></button>

    <button id="W2" class="btn btn-primary btn-weapon rocket" data-ng-show="weapon.rocket"
            data-ng-click="getRocket()"> <img class="weaponIcon" src="assets/img/rocket.png"><div>{{weapon.rocket}}</div></button>


    <button id="W3" class="btn btn-primary btn-weapon bomb" data-ng-show="weapon.bomb"
            data-ng-click="getBomb()"> <img class="weaponIcon" src="assets/img/bomb.png"><div>{{weapon.bomb}}</div></button>


    <button id="W4" class="btn btn-primary btn-weapon nuclear" data-ng-show="weapon.nuclearBomb"
            data-ng-click="getNuclearBomb()"> <img class="weaponIcon" src="assets/img/nuclear.png"><div>{{weapon.nuclearBomb}}</div></button>
</div>