<img class="page_background" src="assets/img/backgrounds/back1.jpg">

<p class="text-center confirmationTitle">Are you sure?</p>

<div class="confirmationDiv">
    <button class="btn btn-danger btn-lg confirmationButton" onclick="document.location.reload()">
        <i class="glyphicon glyphicon-home"></i> Yes</button>
    <button class="btn btn-success btn-lg confirmationButton" data-ng-click="stayInBattle()">No
        <i class="glyphicon glyphicon-play-circle"></i></button>
</div>