<img class="page_background" src="assets/img/backgrounds/back2.jpg">

<p class="text-center confirmationTitle">Results</p>

<p class="text-center resultsText"> Congratulations, {{winnerName}}! You Won!</p>

<div class="confirmationDiv">
    <button class="btn btn-danger btn-lg endGameButton" onclick="document.location.reload()">End Game</button>
</div>
