<!DOCTYPE html>

<html data-ng-app="UoT" lang="en">

<head>
    <meta charset="UTF-8">
    <title>UoT</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/styleBattle.css">
    <link rel="stylesheet" href="assets/css/styleShop.css">
    <link rel="stylesheet" href="assets/css/confirmationAndResultStyle.css">
    <link rel="stylesheet" href="assets/css/styleRoomAndLobby.css">
</head>

<body data-ng-controller="mainController">
    <!--MAIN PAGE-->
    <div data-ng-show="showMainPage">
        <img class="page_background" src="assets/img/backgrounds/IS7.jpg">
        <div id="mainPage">
            <img id="logo" src="assets/img/logo.png">
            <form role="form" name="myForm"  novalidate>
                <input class="form-control userNameForm" type="text" name="UserName" maxlength="16"
                   data-ng-model="UserName" data-ng-show="showUserNameForm"
                   pattern="\w{0,}[A-Z]{0,}" required>
                <input class="btn btn-primary btn-lg btn-mainPage" type="submit" value="Play"
                   data-ng-disabled="myForm.UserName.$dirty && myForm.UserName.$invalid"
                   data-ng-click="verifyUserName(UserName)">
            </form>
            <div id="error" data-ng-show="error">
                <span data-ng-show="errorUserRegistered">This user has been registered! Write another username<br></span>
                <span data-ng-show="errorSocketConnection">Can't connect to server!</span>
            </div>
        </div>
    </div>
    <!--VIEWS-->
    <div data-ng-controller="menuController">
        <div data-ng-include="'app/components/menu/menu.html'" data-ng-show="showMainMenu"></div>
        <div data-ng-controller="WebSocketController">
            <div data-ng-controller="LobbyController">
                <div data-ng-include="'app/components/lobby/html/lobbyCreate.html'" id="createLobby"
                    data-ng-show="showRoomCreatePage">
                </div>
                <div data-ng-include="'app/components/lobby/html/lobbyRoom.html'" id="roomLobby"
                    data-ng-show="showRoomPage">
                </div>
                <div data-ng-include="'app/components/lobby/html/lobbyRoomsList.html'" id="connectLobby"
                    data-ng-show="showLobbyPage">
                </div>
            </div>
            <div data-ng-controller="battleController">
                <div id="ResultPage" data-ng-include="'app/components/battle/html/results.html'"
                    data-ng-show="showResultPage">
                </div>
                <div id="ConfirmationPage" data-ng-include="'app/components/battle/html/confirmation.html'"
                    data-ng-show="showConfirmationPage">
                </div>
                <div data-ng-controller="tankController">
                    <div data-ng-include="'app/components/battle/html/battleScreen.html'" data-ng-init="init()"
                        data-ng-show="showBattlePage">
                    </div>
                </div>
                <div data-ng-controller="shopController">
                    <div data-ng-include="'app/components/shop/shop.html'"
                        data-ng-show="showShopPage">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--SCRIPTS-->
    <script src="assets/libs/angular.min.js"></script>
    <script src="assets/js/constants.js"></script>
    <script src="assets/js/clientGame.js"></script>
    <script src="app/components/home/mainController.js"></script>
    <script src="app/components/menu/menuController.js"></script>
    <script src="app/components/battle/js/battleController.js"></script>
    <script src="app/components/battle/js/tankController.js"></script>
    <script src="app/components/shop/shopController.js"></script>
    <script src="app/components/lobby/js/lobbyController.js"></script>
    <script src="app/components/home/webSocketController.js"></script>
</body>

</html>