<img class="page_background" src="assets/img/backgrounds/T34-85.jpg">

<div id="main_menu">
    <button class="btn btn-info" data-ng-click="goToPractice()">Practice <i class="glyphicon glyphicon-education"></i></button>
    <button class="btn btn-info" data-ng-click="goToRoomCreatePage()">Create Game <i class="glyphicon glyphicon-fire"></i></button>
    <button class="btn btn-info" data-ng-click="goToLobbyPage()">Connect to Game <i class="glyphicon glyphicon-globe"></i></button>
    <button class="btn btn-info" data-ng-click="goToMainPage()">Exit <i class="glyphicon glyphicon-log-out"></i></button>
</div>
