<img class="page_background" src="assets/img/backgrounds/BT7.jpg">

<p class="text-center shopTitle">SHOP</p>

<p class="money">Money: {{ (money - (weapon.rocket * rocketPrice) - (weapon.bomb * bombPrice) -
    (weapon.nuclearBomb * nuclearBombPrice)) }} $</p>

<p class="timerShop"><i class="glyphicon glyphicon-hourglass"></i> {{shopCountDown}}</p>

<table class="table table-condensed table-bordered shopTable">
    <thead>
        <tr>
            <th>Weapons</th>
            <th>Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Rocket</th>
                <td><input class="inShopTable" data-ng-model="weapon.rocket" data-ng-disabled="(money - (weapon.rocket * rocketPrice) - (weapon.bomb * bombPrice) -
                    (weapon.nuclearBomb * nuclearBombPrice) - rocketPrice) < 0" type="number" min="0"></td>
                <td>-{{ (weapon.rocket * rocketPrice) }}$</td>
        </tr>
        <tr>
            <th>Bomb</th>
            <td><input class="inShopTable" data-ng-model="weapon.bomb" data-ng-disabled="(money - (weapon.rocket * rocketPrice) - (weapon.bomb * bombPrice) -
                (weapon.nuclearBomb * nuclearBombPrice) - bombPrice) < 0" type="number" min="0"></td>
            <td>-{{ (weapon.bomb * bombPrice) }}$</td>
        </tr>
        <tr>
            <th>Nuclear</th>
            <td><input class="inShopTable" data-ng-model="weapon.nuclearBomb" data-ng-disabled="(money - (weapon.rocket * rocketPrice) - (weapon.bomb * bombPrice) -
                (weapon.nuclearBomb * nuclearBombPrice) - nuclearBombPrice) < 0" type="number" min="0"></td>
            <td>-{{ (weapon.nuclearBomb * nuclearBombPrice) }}$</td>
        </tr>
    </tbody>
</table>

<button class="btn btn-success btn-lg shopButton sBtn1" data-ng-disabled="isPlayerReady" data-ng-click="ready()">Ready
    <i class="glyphicon glyphicon-ok"></i></button>
<button class="btn btn-danger btn-lg shopButton sBtn2" data-ng-disabled="isPlayerReady" data-ng-click="reset()">Reset
    <i class="glyphicon glyphicon-refresh"></i></button>