.confirmationTitle {
   font-size: 4vmax;
   color: lawngreen;
}

.confirmationDiv {
    position: relative;
    margin-top: 20%;
    width: 100%;
    height: auto;
}

.confirmationButton, .endGameButton {
    font-size: 3vmax;
    width: 15%;
    margin-left: 23%;
}

.endGameButton {
    text-align: center;
    width: 17%;
    font-size: 2.5vmax;
    margin-left: 42%;
}

.resultsText {
    margin-top: 10%;
    position: relative;
    font-size: 3vmax;
    color: lawngreen;
}