.shopTitle {
    position: relative;
    font-size: 4vmax;
    color: black;
}

.money {
    position: relative;
    font-size: 3vmax;
    color: black;
    text-align: right;
    margin-right: 4%;
}

.timerShop {
    position: fixed;
    left: 5%;
    top: 13%;
    color: black;
    font-size: 2.5vmax;
}

.shopTable {
    position: relative;
    margin-top: 2%;
}

.shopTable > thead > tr > th, .shopTable > tbody > tr > th,
.shopTable > tbody > tr > td {
    font-size: 1.5vmax;
    color: black;
    text-align: center;
}

.shopTable > tbody > tr > th, .shopTable > tbody > tr > td {
    color: black;
}

.shopButton {
    position: absolute;
    top: 75%;
    width: 11%;
    font-size: 1.5vmax;
    height: auto;
    padding: 1%;
}

.sBtn1 {
    left: 10%;
}

.sBtn2 {
    left: 80%;
}

.inShopTable {
    width: 100%;
}