html, body {
    width: 100%;
    height: 100%;
}

@font-face {
    src: url(../fonts/KeepCalm-Medium.ttf);
    font-family: "KeepCalm-Medium";
}

* {
    font-family: "KeepCalm-Medium";
}

/* MAIN PAGE STYLES */

.page_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

#logo {
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
}

#mainPage {
    position: relative;
    float: right;
    margin-top: 3%;
    right: 4%;
    height: auto;
    width: 20%;
}

.btn-primary, .btn-info, .btn-mainPg {
    position: relative;
    width: 100%;
    height: auto;
}

.btn-mainPage {
    font-size: 1.5vmax;
    margin-top: 10%;
    padding: 2.5% 2.5% 2.5% 2.5%;
}

#error {
    position: relative;
    margin-top: 5%;
    padding: 2%;
    background: #FCC;
    border: 1px solid #C33;
    text-align: center;
    font-size: 1vmax;
}

.userNameForm {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 1.5vmax;
    text-align: center;
    background-color: greenyellow;
    padding: 1.5% 1.5% 1.5% 1.5%;
}

/* MAIN MENU STYLES */

#main_menu {
    position: relative;
    float: right;
    margin-top: 10%;
    margin-right: 5%;
    width: 22%;
    height: auto;
}

.btn-info {
    font-size: 1.8vmax;
    margin-top: 15%;
    padding: 2% 2% 2% 2%;
}

table.table{
    border: none;
    top: 10%;
    left: 30%;
    width: 40%;
    height: 25%;
    border-spacing: 10px;
}

table.table th{
    border: none;
    width: 10%;
    height: 10%;
    color: black;
}

table.table td{
    border: none;
    text-align: center;
    width: 100%;
    height: 20%;
    text-decoration: black;
}

table.table td input, table.table select{
    text-align: center;
    font: 100% "KeepCalm-Medium";
}