* {
    font-family: "KeepCalm-Medium";
}

.p1hp {
    position: relative;
    float: left;
    left: 10%;
    margin-top: 1%;
}

.p2hp {
    position: relative;
    float: right;
    right: 10%;
    margin-top: 1%;
}

.pText {
    font-size: 2.5vmax;
}

.helpBtn {
    position: absolute;
    top: 2%;
    left: 1%;
    height: 3.4vmax;
    font-size: 2.3vmax;
    padding: 0.4%;
}

.timerBattle {
    position: absolute;
    top: 10%;
    left: 46.5%;
    color: black;
    font-size: 2.5vmax;
}

.exitButton {
    position: absolute;
    top: 2%;
    left: 94%;
    height: auto;
    font-size: 2vmax;
    padding: 0.4%;
}

.LeftRight {
    position: absolute;
    top: 79%;
    left: 5%;
    height: auto;
    width: 15%;
}

.iLeft,
.iRight {
    font-size: 2.5vmax;
}

.leftButton, .rightButton {
    width: 45%;
    padding: 0.5%;
}

#tank {
    position: absolute;
    width: 100%;
    height: auto;
    top: 5%;
    left: 0;
    z-index: -3;
    padding: 0;
}

@-moz-document url-prefix() {
    #tank {
        position: absolute;
        width: 100%;
        height: auto;
        top: -2%;
        left: 0;
        z-index: -5;
        padding: 0;
    }
}

.UpDown {
    position: absolute;
    width: 4%;
    height: auto;
    top: 75%;
    left: 91%;
}

.upButton,
.downButton {
    width: 100%;
    height: auto;
    padding: 0.5%;
}

.downButton {
    margin-top: 2%;
}

.fireButton {
    position: absolute;
    width: 15%;
    font-size: 3vmax;
    left: 43%;
    top: 59%;
    padding: 1%;
}

#shellMessage {
    position: absolute;
    top: 45%;
    left: 38%;
    font-size: 2vmax;
    color: red;
}

#helpMessage {
    position: absolute;
    top: 15%;
    left: 40%;
    font-size: 1.5vmax;
    color: blue;
}

.weaponBar {
    position: absolute;
    top: 79%;
    left: 40%;
    height: auto;
    width: 30%;
}

.btn-weapon {
    width: 15%;
    height: auto;
    font-size: 1vmax;
    padding: 1%;
}

.piersing {
    font-size: 0.7vmax;
}

.rocket, .bomb, .nuclear {
    margin-left: 4%;
}

.weaponIcon {
    width: 1.5vmax;
    height: 1.5vmax;
}