/*CREATE ROOM STYLES*/

* {
    font-family: "KeepCalm-Medium";
}

.lobbyCreatorHeader {
    font-size: 4vmax;
    color: black;
}

.lobbyCreate {
    position: static;
    margin-top: 2%;
    width: 100%;
    height: auto;
}

.lobbyCreateTable {
    margin-left: 31.5%;
    width: auto;
    height: auto;
}

.lobbyCreateTable > tbody > tr > th,
.lobbyCreateTable > tbody > tr > td {
    font-size: 1.5vmax;
    text-align: center;
    color: black;
    padding: 1%;
    border: none;
}

.lobbyCreateTable > tbody > tr > td > input,
.lobbyCreateTable > tbody > tr > td > select {
    width: 70%;
    height: auto;
}

.lobbyCreateTable > tbody > tr > td > select {
    background-color: lightgrey;
}

.rightLobbyBtn, .leftLobbyBtn {
    position: relative;
    margin-top: 10%;
    font-size: 2vmax;
    padding: 1% 1%;
}

.leftLobbyBtn {
    float: left;
    margin-left: 10%;
}

.rightLobbyBtn {
    float: right;
    margin-right: 10%;
}

/*LOBBY ROOM STYLES*/

.lobbyHeader {
    font-size: 3vmax;
    color: black;
}

.lobbyLeftPart, .lobbyRightPart {
    position: relative;
    float: left;
    width: 48%;
    max-width: 48%;
    height: auto;
}

.leftTablePosAndStyle, .rightTablePosAndStyle {
    position: relative;
    margin-top: 2vmax;
    font-size: 1.8vmax;
}

.leftTablePosAndStyle > tbody > tr > th, .rightTablePosAndStyle > tbody > tr > th  {
    color: black;
    text-align: center;
}

.leftTablePosAndStyle > tbody > tr > th,
.leftTablePosAndStyle > tbody > tr > td,
.rightTablePosAndStyle > tbody > tr > th,
.rightTablePosAndStyle > tbody > tr > td {
    border: 0.2vmax solid;
}

.rightRoomBtn, .leftRoomBtn {
    position: relative;
    margin-top: 18%;
    font-size: 2vmax;
    padding: 1% 1%;
}

.leftRoomBtn {
    float: left;
    right: 31%;
}

.rightRoomBtn {
    float: right;
    right: 16%;
}

/* ROOM TABLES */

.lobbyTablePosAndStyle {
    position: relative;
    margin-top: 5vmax;
}

.lobbyTablePosAndStyle > tbody > tr > th, .lobbyTablePosAndStyle > tbody > tr > td {
    text-align: center;
    color: black;
    font-size: 1.8vmax;
}

.lobbyTablePosAndStyle > tbody > tr > td {
    font-size: 1.5vmax;
}

.btn-Room {
    font-size: 1.3vmax;
    padding: 1%;
    height: auto;
    width: 100%;
}

.roomButton {
    position: absolute;
    top: 80%;
    left: 43%;
    font-size: 1.7vmax;
    padding: 1%;
}