<img class="page_background" src="assets/img/backgrounds/Type74.jpg">

<p class="text-center lobbyHeader">Lobby</p>

<table class="table table-bordered table-condensed table-hover lobbyTablePosAndStyle">
    <tr>
        <th>Name</th> <th>Owner</th> <th>Rounds</th> <th>Money</th> <th>Hits</th> <th>Wind</th> <th>&nbsp; </th>
    </tr>
    <tr data-ng-repeat="room in roomsList | filter: roomFilter | orderBy : 'roomName'">
        <td id="roomNameTd">{{ room.roomName }}</td>
        <td>{{ room.owner }}</td>
        <td>{{ room.rounds }}</td>
        <td>{{ room.money }}</td>
        <td>{{ room.hits }}</td>
        <td>{{ room.wind }}</td>
        <td id="buttonTd">
            <form novalidate>
                <button class="btn btn-success btn-Room" data-ng-click="addToRoom(room.owner)">Play</button>
            </form>
        </td>
    </tr>
</table>

<button class="btn btn-danger btn-lg roomButton" data-ng-click="returnToMenu()">
    <i class="glyphicon glyphicon-arrow-left"></i> Back to menu</button>
