<img class="page_background" src="assets/img/backgrounds/T10.jpg">

<p class="text-center lobbyHeader">Room "{{ roomData.roomName }}"<p>

<div class="lobbyLeftPart">
    <table class="table table-bordered table-condensed leftTablePosAndStyle">
        <tbody>
        <tr>
            <th>Owner:</th>
            <td>{{ roomData.owner }}</td>
        </tr>
        <tr>
            <th>Money:</th>
            <td>{{ roomData.money }}</td>
        </tr>
        <tr>
            <th>Hits:</th>
            <td>{{ roomData.hits }}</td>
        </tr>
        <tr>
            <th>Rounds:</th>
            <td>{{ roomData.rounds }}</td>
        </tr>
        <tr>
            <th>Wind:</th>
            <td>{{ roomData.wind }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="lobbyRightPart">
    <table class="table table-bordered table-condensed rightTablePosAndStyle">
        <tr>
            <th>Players:</th>
        </tr>
        <tbody>
        <tr data-ng-repeat="data in roomData.playerData">
            <td>{{ data.player }}</td>
            <td>
                <div data-ng-hide="isCurrentUser(data.player)"></div>
                <form data-ng-show="isCurrentUser(data.player)" name="colorForm" novalidate>
                    <select name="userColor" data-ng-model="userColor" style="background:{{ userColor }}"
                            data-ng-change="changeColor(userColor)">
                        <option value="{{color}}"
                                style="background:{{ color }}"
                                data-ng-repeat="color in colorsList | filter: colorFilter">
                        </option>
                    </select>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<button class="btn btn-danger btn-lg leftRoomBtn"
        data-ng-click="leaveFromRoom()"><i class="glyphicon glyphicon-log-out"></i> Leave</button>
<button class="btn btn-success btn-lg rightRoomBtn"
        data-ng-show="gameStartPermission" data-ng-disabled="gameNotFull"
        data-ng-click="startGame()">Play <i class="glyphicon glyphicon-ok"></i></button>