<img class="page_background" src="assets/img/backgrounds/IS6.jpg">

<p class="text-center lobbyCreatorHeader">Create room</p>

<div class="lobbyCreate">
    <table class="table lobbyCreateTable">
        <tbody>
        <tr>
            <th>Name</th>
            <td>
                <input name="name" data-ng-model="roomData.roomName" type="text" maxlength="32">
            </td>
        </tr>
        <tr>
            <th>Hits</th>
            <td>
                <input name="hits" data-ng-model="roomData.hits" type="number" min="0" max="1000">
            </td>
        </tr>
        <tr>
            <th>Money</th>
            <td>
                <input name="money" data-ng-model="roomData.money" type="number" min="0" max="1000">
            </td>
        </tr>
        <tr>
            <th>Wind</th>
            <td>
                <select disabled name="wind" data-ng-model="roomData.wind">
                    <option selected>None</option>
                    <option>Normal</option>
                    <option>Crazy</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Rounds</th>
            <td>
                <input name="rounds" data-ng-model="roomData.rounds" type="number" min="1" max="10">
            </td>
        </tr>
        </tbody>
    </table>
</div>

<button class="btn btn-danger btn-lg leftLobbyBtn"
        data-ng-click="returnToMenu()"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
<button class="btn btn-success btn-lg rightLobbyBtn" data-ng-disabled="createForm.name.$invalid || createForm.hits.$invalid || createForm.money.$invalid || createForm.wind.$invalid || createForm.rounds.$invalid"
        data-ng-click="createRoom()">Create <i class="glyphicon glyphicon-ok"></i></button>